# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
*.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Static (collected in prod)
static/
!static/src/   # если у тебя есть исходники CSS/JS, оставляем их

# IDE & OS files
.idea/
.vscode/
.DS_Store
*.swp
*.swo

# Testing & Coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
cover/
nosetests.xml
coverage.xml

# Build / Packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
pip-wheel-metadata/

# Docker
docker-compose.override.yml
*.pid

# Jupyter
.ipynb_checkpoints

# Mypy / Pytype
.mypy_cache/
.pytype/

# Sphinx docs
docs/_build/

# Misc
tmp/
.env
*.env
media/
staticfiles/
__pycache__/
*.pyc
.envrc
.idea/
.vscode/
coverage.xml
htmlcov/

