{% extends 'base/index.html' %}
{% block title %}Контакты{% endblock %}
{% block content %}
    {% load static %}
    <div class="contact-text">
        <h3>Контактная информация</h3>
        <table>
            <tbody>
                <tr>
                    <td class="c-o">Адрес:</td>
                    <td>Республика Алтай, с. Чемал, Урочище Ареда, 4в</td>
                </tr>
                <tr>
                    <td class="c-o">Телефон:</td>
                    <td>+7-913-690-0485</td>
                </tr>
                <tr>
                    <td class="c-o">Email:</td>
                    <td>radiant2958@gmail.com</td>
                </tr>
                <tr>
                    <td class="c-o">2Гис:</td>
                    <td><a href="https://2gis.ru/gornoaltaysk/geo/70000001053662944" target="_blank">https://2gis.ru/gornoaltaysk/geo/70000001053662944</a></td>
                </tr>
                <tr>
                    <td class="c-o">ЯндексКарты:</td>
                    <td><a href="https://yandex.ru/navi/org/86213874587" target="_blank">https://yandex.ru/navi/org/86213874587</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    {% endblock %}