{% extends 'base/index.html' %}
{% block title %}трехместные дома{% endblock %}
{% block content %}
    {% load static %}

    <script src="{% static 'js/main2.js' %}"></script>
    <!-- Breadcrumb Section Begin -->
    <div class="bread-section">
        <div class="brea-text">
            <h2>Наши дома</h2>
                <div class="button-option">
                    <a href="{% url 'title_base' %}">Главная</a>
                    <span>Дома</span>
                </div>
        </div>
    </div> 

    <!-- Room Details Section Begin -->
    <div class="room-details">
        <div class="conteiner-room">
            <div class="details-item">
                        <img src="{% static 'img/room/home5/IMG_6194.jpg' %}" alt="">
                        <img src="{% static 'img/room/home5/IMG_6290.jpg' %}" alt="">
                        <img src="{% static 'img/room/home5/IMG_6292.jpg' %}" alt="">
                        <img src="{% static 'img/room/home5/IMG_6299.jpg' %}" alt="">
                        <img src="{% static 'img/room/home5/IMG_6301.jpg' %}" alt="">
                    </div>
                    <div class="room-text">
                                <h3>Дом №4</h3>
                            <h2>от 3500 руб<span>/за ночь</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Размер:</td>
                                        <td>16 кв.м</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Вместимость:</td>
                                        <td>до 3 человек</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">В доме:</td>
                                        <td>Кровать, диван, стол</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Сервис:</td>
                                        <td>Wifi, холодильник, санузел с душем</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="f-para">Представляем вашему вниманию наши уютные трехместные однокомнатные дома, 
                                идеально подходящие для семейного отдыха или небольшой компании друзей.

                                В сердце каждого дома — просторная комната с мягкой двуспальной кроватью и
                                 удобным диваном, который может служить как дополнительное место для отдыха или ночевки.
                        
                                В вашем распоряжении современный санузел с душевой кабиной, 
                                где вы сможете освежиться и набраться сил.
                                
                                В каждом доме есть обеденный стол, где можно устроить семейный ужин или завтрак. Холодильник сохранит свежесть продуктов, а с помощью чайника вы всегда сможете насладиться горячим чаем или кофе.
                                </p>
                                <p> Выберите наши трехместные дома для комфортного и теплого проживания!</p>
                                

                                
                                
  
                            </div>  
                        </div>
                        <div class="col-lg-4">
                            <div class="room-booking">
                            <h4> Забронировать этот дом </h4> 
                            <p></p>
                            <form method="post" action="{% url 'title_base' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="id_name">Имя:</label>
                                    <input type="text" name="name" id="id_name" required maxlength="100" class="form-control">
                                    {% if form.name.errors %}
                                        <div class="alert alert-danger">{{ form.name.errors.as_text }}</div>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <label for="id_phone">Номер телефона:</label>
                                    <input type="text" name="phone" id="id_phone" required maxlength="15" class="form-control">
                                    {% if form.phone.errors %}
                                        <div class="alert alert-danger">{{ form.phone.errors.as_text }}</div>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <label for="id_date_in">Заезд:</label>
                                    <input type="date" name="date_in" id="id_date_in" required class="form-control">
                                    {% if form.date_in.errors %}
                                        <div class="alert alert-danger">{{ form.date_in.errors.as_text }}</div>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <label for="id_date_out">Выезд:</label>
                                    <input type="date" name="date_out" id="id_date_out" required class="form-control">
                                    {% if form.date_out.errors %}
                                        <div class="alert alert-danger">{{ form.date_out.errors.as_text }}</div>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <label for="id_guests">Количество гостей:</label>
                                    <input type="number" name="guests" id="id_guests" required class="form-control" min="1">
                                    {% if form.guests.errors %}
                                        <div class="alert alert-danger">{{ form.guests.errors.as_text }}</div>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <label for="id_rooms">Количество домов:</label>
                                    <input type="number" name="rooms" id="id_rooms" required class="form-control" min="1" max="8">
                                    {% if form.rooms.errors %}
                                        <div class="alert alert-danger">{{ form.rooms.errors.as_text }}</div>
                                    {% endif %}
                                </div>
                                <button type="submit" class="btn btn-primary">Отправить заявку</button>
                            </form>
                            </div> 
                        </div>
            </div>
            <div id="myModal" class="modal">
                <span class="close" onclick="closeModal()">&times;</span>
                <img class="modal-content" id="modalImg">
            </div>


    {% endblock %}