{% extends 'base/index.html' %}
{% block title %}Дом первый{% endblock %}
{% block content %}
    {% load static %}
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <script src="{% static 'js/main2.js' %}"></script>
    <!-- Breadcrumb Section Begin -->
    <div class="bread-section">
        <div class="brea-text">
            <h2>Наши дома</h2>
                <div class="button-option">
                    <a href="{% url 'title_base' %}">Главная</a>
                    <span>Дома</span>
                </div>
        </div>
    </div> 
    <!-- Breadcrumb Section End -->

    <!-- Room Details Section Begin -->
    <div class="room-details">
        <div class="conteiner-room">
            <div class="details-item">
                        <img src="{% static 'img/room/home1.jpg' %}" alt="">
                        <img src="{% static 'img/room/home1/IMG_6237.jpg' %}" alt="">
                        <img src="{% static 'img/room/home1/IMG_6242.jpg' %}" alt="">
                    </div>
                    <div class="room-text">
                        <h3>Дом №1</h3>
                        <h2>от 5000 руб<span>/за ночь</span></h2>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="r-o">Размер:</td>
                                    <td>30 кв.м</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Вместимость:</td>
                                    <td>до 4 человек</td>
                                </tr>
                                <tr>
                                    <td class="r-o">В доме:</td>
                                    <td>Кровать, диван, стол</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Сервис:</td>
                                    <td>Wifi, холодильник, санузел с душем</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="f-para">Двухкомнатный дом №1 идеально подходит для комфортного отдыха.
                            Первая комната оборудована двуспальной кроватью, обещая спокойный и крепкий сон.
                            Во второй комнате находится уютный диван, который может служить отличным местом для чтения или просмотра телевизора, 
                            а также, при необходимости, может быть использован как дополнительное спальное место.
                            Для вашего удобства в доме имеется стол, где можно насладиться утренним завтраком. Комната также оснащена холодильником для хранения еды и напитков, 
                            а также чайником, чтобы вы всегда могли насладиться горячим чаем или кофе.
                            Выбрав дом №1, вы получите комфортное и уединенное пространство для вашего отпуска или короткого визита.</p>
                        </div>  
                </div>
                <div class="col-lg-4">
                    <div class="room-booking">
                    <h4> Забронировать этот дом </h4> 
                    <p></p>
                    <form method="post" action="{% url 'title_base' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_name">Имя:</label>
                            <input type="text" name="name" id="id_name" required maxlength="100" class="form-control">
                            {% if form.name.errors %}
                                <div class="alert alert-danger">{{ form.name.errors.as_text }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="id_phone">Номер телефона:</label>
                            <input type="text" name="phone" id="id_phone" required maxlength="15" class="form-control">
                            {% if form.phone.errors %}
                                <div class="alert alert-danger">{{ form.phone.errors.as_text }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="id_date_in">Заезд:</label>
                            <input type="date" name="date_in" id="id_date_in" required class="form-control">
                            {% if form.date_in.errors %}
                                <div class="alert alert-danger">{{ form.date_in.errors.as_text }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="id_date_out">Выезд:</label>
                            <input type="date" name="date_out" id="id_date_out" required class="form-control">
                            {% if form.date_out.errors %}
                                <div class="alert alert-danger">{{ form.date_out.errors.as_text }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="id_guests">Количество гостей:</label>
                            <input type="number" name="guests" id="id_guests" required class="form-control" min="1">
                            {% if form.guests.errors %}
                                <div class="alert alert-danger">{{ form.guests.errors.as_text }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="id_rooms">Количество домов:</label>
                            <input type="number" name="rooms" id="id_rooms" required class="form-control" min="1" max="8">
                            {% if form.rooms.errors %}
                                <div class="alert alert-danger">{{ form.rooms.errors.as_text }}</div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary">Отправить заявку</button>
                    </form>
                    </div> 
                </div>
    </div>
    <div id="myModal" class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <img class="modal-content" id="modalImg">
    </div>

    <!-- Room Details Section End -->
    {% endblock %}