{% extends 'base/index.html' %}
{% block title %}Дом второй{% endblock %}
{% block content %}
    {% load static %}
    
    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Наши дома</h2>
                        <div class="bt-option">
                            <a href="{% url 'title_base' %}">Главная</a>
                            <span>Дома</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Room Details Section Begin -->
    <section class="room-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="room-details-item">
                        <img src="{% static 'img/room/home2.jpg' %}" alt="">
                        <img src="{% static 'img/room/home2/IMG_6248.jpg' %}" alt="">
                        <img src="{% static 'img/room/home2/IMG_6253.jpg' %}" alt="">

                        <div class="rd-text">
                            <div class="rd-title">
                                <h3>Дом №2</h3>
                                <div class="rdt-right">
                                </div>
                            </div>
                            <h2>от 5000 руб<span>/за ночь</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Размер:</td>
                                        <td>30 кв.м</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Вместимость:</td>
                                        <td>до 4 человек</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">В доме:</td>
                                        <td>Кровать, диван, стол</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Сервис:</td>
                                        <td>Wifi, холодильник, санузел с душем</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="f-para">Двухкомнатный дом №2 идеально подходит для комфортного отдыха.
                                Первая комната оборудована двуспальной кроватью, обещая спокойный и крепкий сон.
                                Во второй комнате находится уютный диван, который может служить отличным местом для чтения или просмотра телевизора, 
                                а также, при необходимости, может быть использован как дополнительное спальное место.

                                Для вашего удобства в доме имеется стол, где можно насладиться утренним завтраком. Комната также оснащена холодильником для хранения еды и напитков, 
                                а также чайником, чтобы вы всегда могли насладиться горячим чаем или кофе.</p>
                                

                                
                                <p>Выбрав дом №2, вы получите комфортное и уединенное пространство для вашего отпуска или короткого визита.</p>
  
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-4">
                    <div class="room-booking">
                        <h3>Забронировать</h3>
                        <form action="#">
                            <div class="check-date">
                                <label for="date-in">Заезд:</label>
                                <input type="text" class="date-input" id="date-in">
                                <i class="icon_calendar"></i>
                            </div>
                            <div class="check-date">
                                <label for="date-out">Выезд:</label>
                                <input type="text" class="date-input" id="date-out">
                                <i class="icon_calendar"></i>
                            </div>
                            <div class="select-option">
                                <label for="guest">Коллиество гостей:</label>
                                <select id="guest">
                                    <option value="">4 гостя</option>
                                </select>
                            </div>
                            <button type="submit">Отправить заявку на бронирование</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Room Details Section End -->

    {% endblock %}