
{% extends 'base/index.html' %}
{% block title %}Дома{% endblock %}
{% block content %}
    {% load static %}
    

   
    <div class="bread-section">
            <div class="brea-text">
                <h2>Наши дома</h2>
                    <div class="button-option">
                        <a href="{% url 'title_base' %}">Главная</a>
                        <span>Дома</span>
                    </div>
            </div>
    </div> 
   

   
    <div class="rooms-list">
                <div class="room">
                        <img src="{% static 'img/room/home.jpg' %}" alt="">
                        <div class="room-text">
                            <h4>Дом 4-х местный с видом на реку</h4>
                            <h3>от 5000 руб<span>/за ночь</span></h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="feature">Размер:</td>
                                        <td>30 кв.м</td>
                                    </tr>
                                    <tr>
                                        <td class="feature">Вместимость:</td>
                                        <td> до 4 человек</td>
                                    </tr>
                                    <tr>
                                        <td class="feature">В доме:</td>
                                        <td>Кровать,диван, стол</td>
                                        
                                    </tr>
                                    <tr>
                                        <td class="feature">Сервис:</td>
                                        <td>Wifi, холодильник, санузел с душем</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="{% url 'roomZero'%}" class="primary-btn">Показать подробнее</a>
                        </div>
                </div>
                <div class="room">
                        <img src="{% static 'img/room/home1.jpg' %}" alt="">
                        <div class="room-text">
                            <h4>Дом №1</h4>
                            <h3>от 5000 руб<span>/за ночь</span></h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="feature">Размер:</td>
                                        <td>30 кв.м</td>
                                    </tr>
                                    <tr>
                                        <td class="feature">Вместимость:</td>
                                        <td> до 4 человек</td>
                                    </tr>
                                    <tr>
                                        <td class="feature">В доме:</td>
                                        <td>Кровать, диван, кресла, стол</td>
                                    </tr>
                                    <tr>
                                        <td class="feature">Сервис:</td>
                                        <td>Wifi, холодильник, санузел с душем,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="{% url 'roomOne' %}" class="primary-btn">Показать подробнее</a>
                        </div>
                </div>
                <div class="room">
                        <img src="{% static 'img/room/home2.jpg' %}" alt="">
                        <div class="room-text">
                            <h4>Дом №2</h4>
                            <h3>от 5000 руб<span>/за ночь</span></h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="feature">Размер:</td>
                                        <td>30 кв.м</td>
                                    </tr>
                                    <tr>
                                        <td class="feature">Вместимость:</td>
                                        <td> до 4 человек</td>
                                    </tr>
                                    <tr>
                                        <td class="feature">В доме:</td>
                                        <td>Кровать, диван, стол</td>
                                    </tr>
                                    <tr>
                                        <td class="feature">Сервис:</td>
                                        <td>Wifi, холодильник, санузел с душем,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="{% url 'roomSecond'%}" class="primary-btn">Показать подробнее</a>
                        </div>
                </div>
                <div class="room">
                        <img src="{% static 'img/room/home3.jpg' %}" alt="">
                        <div class="room-text">
                            <h4>Дом №3</h4>
                            <h3>от 5000 руб<span>/за ночь</span></h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="feature">Размер:</td>
                                        <td>30 кв.м</td>
                                    </tr>
                                    <tr>
                                        <td class="feature">Вместимость: </td>
                                            <td> до 4 человек</td>
                                    </tr>
                                    <tr>
                                        <td class="feature">В доме:</td>
                                        <td>Кровать, диван, стол</td>
                                    </tr>
                                    <tr>
                                        <td class="feature">Сервис:</td>
                                        <td>Wifi, холодильник, санузел с душем,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="{% url 'roomThird'%}" class="primary-btn">Показать подробнее</a>
                        </div>
                </div>
                <div class="room">
                        <img src="{% static 'img/room/home4.jpg'%}" alt="">
                        <div class="room-text">
                            <h4>Дом №4</h4>
                            <h3>от 5000 руб<span>/за ночь</span></h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="feature">Размер:</td>
                                        <td>30 кв.м</td>
                                    </tr>
                                    <tr>
                                        <td class="feature">Вместимость:</td>
                                        <td> до 4 человек</td>
                                    </tr>
                                    <tr>
                                        <td class="feature">В доме:</td>
                                        <td>Кровать, диван, стол</td>
                                    </tr>
                                    <tr>
                                        <td class="feature">Сервис:</td>
                                        <td>Wifi, холодильник, санузел с душем,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="{% url 'roomFourth'%}" class="primary-btn">Показать подробнее</a>
                        </div>
                </div>
                
                
                <div class="room">
                        <img src="{% static 'img/room/IMG_6197.jpg' %}" alt="">
                        <div class="room-text">
                            <h4>Дома 3-х местные</h4>
                            <h3>от 3500 руб.<span>/за ночь</span></h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="feature">Размер:</td>
                                        <td>20 кв.м</td>
                                    </tr>
                                    <tr>
                                        <td class="feature">Вместимость:</td>
                                        <td> до 3 человек</td>
                                    </tr>
                                    <tr>
                                        <td class="feature">В доме:</td>
                                        <td>Кровать, диван, стол</td>
                                    </tr>
                                    <tr>
                                        <td class="feature">Сервис:</td>
                                        <td>Wifi, холодильник, санузел с душем,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="{% url 'roomsTriple'%}" class="primary-btn">Показать подробнее</a>
                        </div>
                </div>
                
          
    </div>
               
    


{% endblock %}