{% extends 'base/index.html' %}
{% block title %}Дом с видом на реку{% endblock %}
{% block content %}
    {% load static %}
    <script src="{% static 'js/main2.js' %}"></script>
    <!-- Breadcrumb Section Begin -->
    <div class="bread-section">
        <div class="brea-text">
            <h2>Наши дома</h2>
                <div class="button-option">
                    <a href="{% url 'title_base' %}">Главная</a>
                    <span>Дома</span>
                </div>
        </div>
    </div> 

    <!-- Breadcrumb Section End -->

    <!-- Room Details Section Begin -->
    <div class="room-details">
                <div class="conteiner-room">
                    <div class="details-item">
                        <img src="{% static 'img/room/home.jpg' %}" alt="" onclick="enlargeImage('/static/img/room/home.jpg')">
                        <img src="{% static 'img/home/IMG_6227.jpg' %}" alt="" onclick="enlargeImage('/static/img/home/IMG_6227.jpg')">
                        <img src="{% static 'img/home/IMG_6228.jpg' %}" alt="" onclick="enlargeImage('/static/img/home/IMG_6228.jpg')">
                        <img src="{% static 'img/home/IMG_6233.jpg' %}" alt="" onclick="enlargeImage('/static/img/home/IMG_6233.jpg')">
                        <img src="{% static 'img/home/IMG_6236.jpg' %}" alt="" onclick="enlargeImage('/static/img/home/IMG_6236.jpg')">
                    </div>
                        <div class="room-text">
                                <h3>Дом 4-х местный с видом на реку</h3>
                                <h2>от 5000 руб<span>/за ночь</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Размер:</td>
                                        <td>30 кв.м</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Вместимость:</td>
                                        <td>до 4 человек</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">В доме:</td>
                                        <td>Кровать, диван, стол</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Сервис:</td>
                                        <td>Wifi, холодильник, санузел с душем</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="f-para">Двухкомнатный дом с живописным видом на реку предоставляет комфортное и уютное проживание для отдыхающих.
                                 В одной из комнат размещена двуспальная кровать, что создаёт атмосферу уединения и романтики. Вторая комната оснащена удобным диваном, который при желании может быть использован как спальное место. 
                                Для вашего комфорта в доме имеется стол — идеальное место для утреннего кофе или вечерних угощений.
                                К вашим услугам также предоставлен холодильник для сохранения свежести продуктов и чайник для приготовления горячих напитков. Дополнительным преимуществом является наличие в номере санузла с туалетом и умывальником, что обеспечивает максимальный комфорт проживания. 
                                Насладитесь умиротворяющим видом на реку, не выходя из дома, и получите незабываемые впечатления от вашего отдыха.</p>
  
                        </div>
                
                </div>
              
                <div class="col-lg-4">
                    <div class="room-booking">
                    <h4> Забронировать этот дом </h4> 
                    <p></p>
                    <form method="post" action="{% url 'title_base' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_name">Имя:</label>
                            <input type="text" name="name" id="id_name" required maxlength="100" class="form-control">
                            {% if form.name.errors %}
                                <div class="alert alert-danger">{{ form.name.errors.as_text }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="id_phone">Номер телефона:</label>
                            <input type="text" name="phone" id="id_phone" required maxlength="15" class="form-control">
                            {% if form.phone.errors %}
                                <div class="alert alert-danger">{{ form.phone.errors.as_text }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="id_date_in">Заезд:</label>
                            <input type="date" name="date_in" id="id_date_in" required class="form-control">
                            {% if form.date_in.errors %}
                                <div class="alert alert-danger">{{ form.date_in.errors.as_text }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="id_date_out">Выезд:</label>
                            <input type="date" name="date_out" id="id_date_out" required class="form-control">
                            {% if form.date_out.errors %}
                                <div class="alert alert-danger">{{ form.date_out.errors.as_text }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="id_guests">Количество гостей:</label>
                            <input type="number" name="guests" id="id_guests" required class="form-control" min="1">
                            {% if form.guests.errors %}
                                <div class="alert alert-danger">{{ form.guests.errors.as_text }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="id_rooms">Количество домов:</label>
                            <input type="number" name="rooms" id="id_rooms" required class="form-control" min="1" max="8">
                            {% if form.rooms.errors %}
                                <div class="alert alert-danger">{{ form.rooms.errors.as_text }}</div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary">Отправить заявку</button>
                    </form>
                    </div> 
                </div>
            
            
    </div>
    <div id="myModal" class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <img class="modal-content" id="modalImg">
    </div>
    {% endblock %}